@import url("https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200vh;
  background-color: #020202;
}

.text {
  width: 100%;
  max-width: 80vw;
  font-size: 10vw;
  text-align: center;
  margin: 0 auto;
}
.text__item {
  line-height: 1em;
  height: 0.5em;
  overflow: hidden;
  color: white;
  will-change: transform;
  transition: transform 0.2s ease-out;
  white-space: nowrap;
  color: #020202;
  text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}
.text__item:nth-child(1) {
  opacity: 0.2;
}
.text__item:nth-child(2) {
  opacity: 0.4;
}
.text__item:nth-child(3) {
  opacity: 0.6;
}
.text__item:nth-child(4) {
  opacity: 0.8;
}
.text__item:nth-child(5) {
  opacity: 1;
}
.text__item--main {
  overflow: visible;
}
.text__item--main span {
  color: transparent;
  text-shadow: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(80deg, #ff512f, #dd2476);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
